main{
    width:100%;
    height: 1000px;
    position:relative;
    display:flex;
    padding-top:100px;
    padding-left: 30%;
}

main>.wrapper-model{
    position:absolute;
    /* display:flex; */

}

